<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>甜蜜蜜cake后台管理系统</title>
    <link th:href="@{/assets/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{/assets/font-awesome/css/font-awesome.css}" rel="stylesheet" />
    <link th:href="@{/assets/css/style.css}" rel="stylesheet">
    <link th:href="@{/assets/css/style-responsive.css}" rel="stylesheet">
    <link th:href="@{/assets/css/table-responsive.css}" rel="stylesheet">
</head>

<body>

<section id="container" >
    <!--header start-->
    <div  th:replace="common/header::header"></div>
    <!--header end-->

    <!--sidebar(menu) start-->
    <div  th:replace="common/left::left"></div>
    <!--sidebar(menu) end-->

    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            <h3> 商品管理</h3>

            <div class="col-md-12">
                <div class="content-panel">

                    <a th:href="@{/spu/add}" class="btn btn-success">添加商品</a>
                    <hr>
                    <div class="form-panel">


                    </div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>商品名</th>
                            <th>价格</th>
                            <th>品牌</th>
                            <th>分类</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="spu:${spuList}">
                            <td th:text="${spu.id}">1</td>
                            <td th:text="${spu.spu_name}">Mark</td>
                            <td th:text="${spu.spu_price}">Otto</td>
                            <td th:text="${spu.brand.brand_name}">Otto</td>
                            <td th:text="${spu.category.cate_name}">Otto</td>
                            <td th:if="${spu.spu_status==1}">
                                <a th:href="@{/spu/status(id=${spu.id})}" class="btn btn-success btn-xs">上架</a>
                            </td>
                            <td th:if="${spu.spu_status==0}">
                                <a th:href="@{/spu/status(id=${spu.id})}" class="btn btn-danger btn-xs">下架</a>
                            </td>
                            <td>

                                <a th:href="@{/spu/update(id=${spu.id})}" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>

                                <a th:href="@{/spu/delete(id=${spu.id})}" class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></a>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div><!-- --/content-panel ---->
            </div>

        </section><! --/wrapper -->
    </section>
    <!--main content end-->

    <!--footer start-->
    <div  th:replace="common/footer::footer"></div>
    <!--footer start-->
</section>
<script th:src="@{/assets/js/jquery.js}"></script>
<script th:src="@{/assets/js/bootstrap.min.js}"></script>
<script class="include" type="text/javascript" th:src="@{/assets/js/jquery.dcjqaccordion.2.7.js}"></script>
<script th:src="@{/assets/js/jquery.scrollTo.min.js}"></script>
<script th:src="@{/assets/js/jquery.nicescroll.js}" type="text/javascript"></script>
<script th:src="@{/assets/js/common-scripts.js}"></script>


</body>
</html>
